/* GENERAL */
body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    width: 600px;
    height: 400px;
}
section{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
    width: 100px;
    height: 2px;
    background-color: #d82c2e;
    margin: 0 auto;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
ul, ol
{
    list-style: none;
}
h3
{
    text-align: center;
    color: #fff;
}
.gradiented
{
    height: 60px;
    width: 100%;
    background: linear-gradient(rgb(163, 163, 163), rgb(116, 114, 114));}
/* INDEX */

#portfolio
{
    background:rgb(116, 114, 114);
}
h2
{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
#portfolio .thumbnail img
{
    width: 600px;
    height: 400px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover
{

    filter: none;
    -webkit-filter: none;
}

.introduction p
{
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 50px;
}

.back_img
{
    width: 1836px;
    height: auto;
    max-width: 2900px;
    max-height: 800px;
}

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background:black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}

