/* GENERAL */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ddd;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    width: 600px;
    height: 400px;
}
section{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
    width: 100px;
    height: 2px;
    background-color: #d82c2e;
    margin: 0 auto;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
ul, ol
{
    list-style: none;
}

/* E-Books */
div h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}

.menu_items
{
    color: #fff;
    font-size: large;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}