body
{
    background-color:grey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}
.menu_items
{
    color: #fff;
    font-size: large;
}

.row
{
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    max-width: 100%;
}

.project_description
{
    max-width: 100%;
}

.div_img{
    height: 300px;
    width: 350px;
}

.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    padding: 14px 35px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background-color:black;
    color:#fff;
    text-decoration: none;
}

.button2
{
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button2:hover
{
    background-color:rgb(214, 30, 55);
    color:#fff;
    text-decoration: none;
}

.introduction
{
    text-align: center;
    font-size: large;
    color: #fff;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}

p
{
    font-size: 130%;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}

.img-responsive
{
    height: 300px;
    width: 400px;
}

.div_img
{
    overflow: hidden;
}