/* GENERAL */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ecf0f1;

}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    width: 600px;
    height: 400px;
}
section{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
    width: 100px;
    height: 2px;
    margin: 0 auto;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
ul, ol
{
    list-style: none;
}

/* INDEX */

#portfolio
{
    background-color: #ecf0f1;
}
h2
{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.thumbnail {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
    font-style: italic;
    color: #fff;
}

#portfolio .thumbnail img
{
    width: 600px;
    height: 380px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover
{

    filter: none;
    -webkit-filter: none;
}
.introduction
{
    text-align: center;
    font-size: 150%;
    font-style: italic;
    margin-bottom: 50px;
}
.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}
.menu_items
{
    color: #fff;
    font-size: large;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}



