/* GENERAL */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: grey;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
section{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider
{
    width: 100px;
    height: 2px;
    background-color: #d82c2e;
    margin: 0 auto;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
ul, ol
{
    list-style: none;
}

/* ABOUT */

#about
{
    padding-top: 100px;
    background: grey;
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1
{
    color: #fff;
    text-transform: uppercase;
}
#about .heading h3{
    color:#000;
}
.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background-color: #fff;
    color: #d82c2e;
    text-decoration: none;
}

/* SKILLS */
#skills
{
    background: #fff;
}
#skills .heading h2
{
    color:grey;
    text-transform: uppercase;
}
#skills .progress
{
    height: 17%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar
{
    background:#d82c2e;
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

/* EXPERIENCE */

#experience
{
    background: grey;
}

#experience .heading h2
{
    color :#fff;
    text-transform: uppercase;
}

.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2,5px;
}
.timeline > li /* > selects the first li after .timeline */
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after 
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}

.timeline li .timeline-badge
{
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left : 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}

.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6x rgba(0,0,0,0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;

}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " "; /* An "after" or "before" only appears with a non void content*/
}

.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4
{
    color: #d82c2e;
}

/* EDUCATION */

#education
{
    background-color: #fff;
}
#education .heading h2
{
    color: #d82c2e;
}
.education-block
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3
{
    color: #d82c2e;
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block p
{
    font-weight: bold;
}
.education-block .red-divider
{
    margin-bottom: 20px;
}

/* Footer */
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .glyphicon
{
    font-size: 25px;
    margin: 20px;
    color: #d82c2e;
    height: 30px;
}
footer .glyphicon:hover
{
    font-size: 27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}
.menu_items
{
    color: #fff;
    font-size: large;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}





