.article-list {
    color:#313437;
    background-color:#fff;
}

.article-list p {
    color:#7d8285;
}

.article-list h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .article-list h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
}

.img-fluid
{
    height: 400px;
    width: 300px;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.img-fluid:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.article-list .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}

.article-list .intro p {
    margin-bottom:0;
}

.article-list .articles {
    padding-bottom:40px;
}

.article-list .item {
    padding-top:50px;
    min-height:425px;
    text-align:center;
}

.article-list .item .name {
    font-weight:bold;
    font-size:16px;
    margin-top:20px;
    color:inherit;
}

.text-center
{
    color: #fff;
}

.text-center-p
{
    text-align: center;
    font-size: large;
    font-style: italic;
    color: #fff;
}

.article-list .item .description {
    font-size:14px;
    margin-top:15px;
    margin-bottom:0;
}

.article-list .item .action {
    font-size:24px;
    width:24px;
    margin:22px auto 0;
    line-height:1;
    display:block;
    color:#4f86c3;
    opacity:0.85;
    transition:opacity 0.2s;
    text-decoration:none;
}

.article-list .item .action:hover {
    opacity:1;
}

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
    text-decoration: none;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s;
}

.menu_items
{
    color: #fff;
    font-size: large;
}

body
{
    background-color: grey;
}

#book_description
{
    margin: 5px;
    background-color: #fff;
    border-style : solid;
    border-width: 5px;
    border-color: #313437;
    padding: 20px;
}

.row_articles
{
    display: flex;
}

.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: 1.21rem;
    font-weight: bold;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
    margin-bottom: 30px;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

.menu_items:hover
{
    color: #fec400;
    text-decoration: none;
}